.chat-main
  .chat-main__group-info
    .raight-header__group
      .raight-group-name
        = @group.name
      .raight-group-member
        - @group.users.each do |user|
          = user.name
    .raight-header__edit-botton
      = link_to edit_group_path(@group), class: "edit-btn" do
        Edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    =form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .write-box
        = f.text_field :content, class: 'write-box__text', placeholder: 'type a message'
        = f.label :image, class: 'write-box__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'write-box__image__file'
      = f.submit 'Send', class: 'submit-btn'