.chat-side
  .side-bar__user-name
    .top-items
      %h3.top-items__name hoge
      %ul.top-items__icons
        %li.top-items__icons__new
        = link_to "#" do
          = icon('far','edit')
        %li.top-items__icons__cog
        = link_to "#" do
          = icon('fas','cog')
  .side-bar__user-group
    .group
      = link_to "#" do
        .group__name 
          textchat
        .group__message 
          まだメッセージはありません